body{
    background-color: #1E1E1E;

}



.signup-form-main-container{
    margin: 20px;
    margin-top: 0;

}

.small-logo{
    width: 100px;
    margin: 20px;
}

.signup-form-main-container h1{
    text-align: center;
    font-size: 50px;
}

.secondary-form-container{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.long-form-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.long-form-container label{
    font-weight: bold;
    margin-left: 10px;
}


.long-form-container input{
    background-color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 20px;
    text-align: center;
    border-radius: 30px;
    border-color: white;
    padding: 10px;
    box-shadow: none;
    color: white;
    font-size: 20px;
    border: 2px solid white;

    
}

.picture-form{
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-color: white ;
    border-radius: 30px;
}

.picture-form button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.picture-form img{
    width: 60px;
    height: 60px;
}

.picture-form-title{
    margin: 10px;
}

.gender-picker-container button{
    width: 100px;
    border-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;


}

.gender-button-not-clicked{
    background-color: inherit;
    color: white;
}

.gender-button-clicked{
    background-color: white;
    color: black;
}

.secondary-container{
    display: flex;
    flex-direction: column;
}

.describe-form-container{
    display: flex;
    flex-direction: column;
}

.describe-form-container label{
    font-weight: bold;
    font-size: 100;
    margin:10px;
}

.describe-form{
    background-color: inherit;
    overflow: hidden;
    width: 210px;
    height: 200px;
    border-radius: 30px;
    border-color: white;
    padding: 20px;
    box-shadow: none;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

.continue-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.continue-button-container  button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: auto;
    border-color: white;
    padding: 10px;
    padding-inline: 50px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: larger;

    cursor: pointer;
}
